doctype html
html(lang=page.meta.language)
  head
    meta(charset=page.meta.charset)
    each author in page.meta.authors
      meta(name="author", content=author.name)
    title=page.meta.title
  body
      h1= page.content.title
      p= page.content.welcome
